<% include ../partials/head %>

<body class="bg-utility-newsbg">
    <header class="header bg-news flex items-center justify-between flex-row py-5 px-5 border-solid border-b">
        <a href="/archive/index.html">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="18"
                viewBox="0 0 20 18">
                <defs>
                    <clipPath id="clip-path">
                        <rect width="20" height="18" fill="none" />
                    </clipPath>
                </defs>
                <g id="icn_inbox_dark" clip-path="url(#clip-path)">
                    <path id="Path_57" data-name="Path 57" d="M6,10H1c.7-3.3,1.3-5.7,2-9H17l2,9H15" fill="none"
                        stroke="#324755" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                        stroke-width="2" />
                    <path id="Path_58" data-name="Path 58" d="M12,10h7v7H1V10H8" fill="none" stroke="#324755"
                        stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" />
                    <path id="Path_59" data-name="Path 59" d="M8,10a2,2,0,0,0,4,0" fill="none" stroke="#324755"
                        stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" />
                </g>
            </svg>
        </a>
        <h3 class="text-18px text-typography-onyx font-bold">News</h3>
        <a href="/gear/index.html">
            <svg xmlns="http://www.w3.org/2000/svg" width="19.454" height="20" viewBox="0 0 19.454 20">
                <path id="ic_settings_24px"
                    d="M19.43,12.98A7.793,7.793,0,0,0,19.5,12a7.793,7.793,0,0,0-.07-.98l2.11-1.65a.5.5,0,0,0,.12-.64l-2-3.46a.5.5,0,0,0-.61-.22l-2.49,1a7.306,7.306,0,0,0-1.69-.98l-.38-2.65A.488.488,0,0,0,14,2H10a.488.488,0,0,0-.49.42L9.13,5.07a7.683,7.683,0,0,0-1.69.98l-2.49-1a.488.488,0,0,0-.61.22l-2,3.46a.493.493,0,0,0,.12.64l2.11,1.65A7.931,7.931,0,0,0,4.5,12a7.931,7.931,0,0,0,.07.98L2.46,14.63a.5.5,0,0,0-.12.64l2,3.46a.5.5,0,0,0,.61.22l2.49-1a7.306,7.306,0,0,0,1.69.98l.38,2.65A.488.488,0,0,0,10,22h4a.488.488,0,0,0,.49-.42l.38-2.65a7.683,7.683,0,0,0,1.69-.98l2.49,1a.488.488,0,0,0,.61-.22l2-3.46a.5.5,0,0,0-.12-.64ZM12,15.5A3.5,3.5,0,1,1,15.5,12,3.5,3.5,0,0,1,12,15.5Z"
                    transform="translate(-2.271 -2)" fill="#324755" />
            </svg>
        </a>
    </header>
    <div class="bg-utility-newsbg p-4 border-solid border-utility-bordergrey border-b">
        <form class="w-full max-w-sm">
            <div class="flex justify-between items-center  bg-utility-inputgrey rounded p-2">
                <input type="text" placeholder='Search news' class="input pl-5 outline-none bg-utility-inputgrey">
                <button type="submit"><img src="./assets/images/icn_search_dark.svg" alt="" class="pr-2"></button>
            </div>
        </form>
    </div>
    <main class="main relative mb-48 overflow-hidden">
    </main>
    <template class="categoryContainerTemplate">
        <div
            class="main__categoryContainer bg-utility-newsbg p-4 border-solid border-utility-bordergrey border-b flex flex-row items-center ">
            <div class="rounded-full shadow-lg flex items-center justify-center p-2 mx-2">
                <img src="./assets/images/icn_surfing.svg" alt="">
            </div>
            <div class="flex flex-row justify-between content-center w-5/6">
                <h3 class="text-15px text-typography-onyx font-bold">Category</h3>
                <svg class="transform -rotate-90 mr-1 mt-1 duration-100" xmlns="http://www.w3.org/2000/svg" width="18"
                    height="16" viewBox="0 0 16 16">
                    <g stroke="#324755" stroke-linecap="round" stroke-width="2">
                        <line x1="2" y1="8" x2="10" y2="2" />
                        <line x1="2" y1="8" x2="10" y2="14" />
                    </g>
                </svg>
            </div>
        </div>
    </template>
    <template class="articleTemplate">
        <div class="article flex flex-row border-solid border-utility-bordergrey border-b">
            <a href="" target="_blank" class="article__link w-full max-w-sm flex flex-row">
                <img src="./assets/images/image_21.svg" alt="" class="m-4 rounded-full w-18 h-18">
                <article class="mr-4 my-4">
                    <h4 class="font-bold text-typography-onyx text-15px line-clamp overflow-hidden">Heading</h4>
                    <p class="line-clamp overflow-hidden text-14px font-light text-typography-pblue">Lorem,
                        ipsum
                        dolor
                        sit
                        amet
                        consectetur
                        adipisicing elit.
                        Architecto voluptatem quis mollitia iure? Totam provident praesentium ea fugit saepe!
                        Dolorum!
                    </p>
                </article>
            </a>
            <button
                class="archiveBtn bg-primary-sage absolute -right-20 h-full w-20 m-0 flex justify-center items-center focus:outline-none">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20"
                    height="18" viewBox="0 0 20 18">
                    <defs>
                        <clipPath id="clip-path">
                            <rect width="20" height="18" fill="none" />
                        </clipPath>
                    </defs>
                    <g id="icn_inbox_white" clip-path="url(#clip-path)">
                        <path id="Path_57" data-name="Path 57" d="M6,10H1c.7-3.3,1.3-5.7,2-9H17l2,9H15" fill="none"
                            stroke="#324755" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                            stroke-width="2" />
                        <path id="Path_58" data-name="Path 58" d="M12,10h7v7H1V10H8" fill="none" stroke="#324755"
                            stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" />
                        <path id="Path_59" data-name="Path 59" d="M8,10a2,2,0,0,0,4,0" fill="none" stroke="#324755"
                            stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" />
                    </g>
                </svg>
            </button>
        </div>
    </template>
    <script src="./assets/javascript/util.js"></script>
    <script src="./assets/javascript/news.js" type='module'></script>

<% include ../partials/after-footer %>